.card-image {
    max-width: 150px;
    max-height: 200px;
    height: 90%;
}

.card-container {
    min-width: 200px;
    width: calc(25% - 20px);
    height: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
    margin: 10px;
    border: solid 1px black;
    flex-direction: column;
}